# Ambiente virtual
venv/

# Arquivos de log
*.log

# Arquivos do sistema operacional
.DS_Store
Thumbs.db

# Arquivos Python
__pycache__/
*.py[cod]

# Arquivos do SQLite
*.sqlite3

# Arquivos temporários
*.tmp
*.temp

# Configurações de IDE
.vscode/
.idea/
